/* app/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .m-w-1200px {
     max-width: 1200px;
    }

    .m-w-800px {
      max-width: 800px;
     }
  }
  
