<table class="table-fixed lg:max-w-screen-lg md:max-w-screen-sm sm:max-w-xs p-5 bg-gray-100 rounded-md">
  <tbody>
    {{#each this.data as |row indexRow|}}
        <tr>
            <th class="w-12 border-r border-solid border-slate-200"> {{day-of-week indexRow}} </th>
            {{#each row as |col indexCol| }}
                <td class="h-12 w-12 md:w-8 md:h-8">
                    <Heatpoint @count={{col}} @max={{this.max}} @day={{indexRow}} @hour={{indexCol}}/>
                </td>
            {{/each}}
        </tr>
    {{/each}}

  </tbody>
  <tfoot>
    <tr>
        <th/>
        {{#each this.yAxis as |y|}}
            <th class="border-t border-solid border-slate-200 m-w-12">
                {{ y }}
            </th>
        {{/each}}
    </tr>
  </tfoot>
</table>
