<div class="h-full w-full flex justify-center items-center">
    {{#if this.data}}
        <EmberPopover> {{day-of-week this.day}} {{this.hour}}h {{this.data}}</EmberPopover>
    {{/if}}
   <div class="bg-black rounded-full" style={{this.style}}/>
</div>
