{{page-title "EmberHeatmap"}}

<div class="w-screen flex flex-col justify-center items-center">
    {{#each this.stream.data as | data| }}
        <div class="p-5 shadow-lg rounded-xl m-5">
            <div class="py-5 flex justify-between">
                <h2 class="text-xl font-semibold">{{capitalize (humanize data.id)}}</h2> 
                <span>Total posts: {{data.counter}}</span>
            </div>
            <Heatmap @data={{data}}/>
        </div>
    {{/each}}
</div>